<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope Alive USA</title>
     <link rel="stylesheet" href="../scripts/styles.css"> 
     <script src="../scripts/script.js"></script>
</head>
<body>
    <header>
        <img src="../images/hopealive.jpg" alt="Hope Alive USA Logo">
        <nav>
            <ul>
                <li><a href="#" onclick= "reloadIndex()">Home</a>
                <li><a href="#" onclick= "about()">About Us</a></li>
                <li class="dropdown">
                    <a href="#">Resources</a>
                    <div class="dropdown-content">
                        <a href="#">Resource 1</a>
                        <a href="#">Resource 2</a>
                        <a href="#">Resource 3</a>
                        <a href="#">Resource 4</a>
                        <a href="#">Resource 5</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Community</a>
                    <div class="dropdown-content">
                        <a href="#" onclick="membership()">Members and Membership</a>
                        <a href="#" onclick="loadVideosPage()">Videos</a>
                        <a href="#" onclick="involved()">Get Involved</a>
                        <a href="#" onclick="donation()">Donate</a>
                    </div>
                </li>
                <li><a href="#" onclick= "contact()">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <h1>Get Involved</h1>
    <h2>Volunteer Opportunities</h2>
    <p>Information about volunteering</p>
    <h2>Upcoming Events</h2>
    <p>List of upcoming events</p>
    <h2>Stay Connected</h2>
    <p>Sign up for newsletter or follow us on social media</p>

    <footer>
        <p>&copy; 2024 Hope Alive USA. All Rights Reserved.</p>
    </footer>

</body>
</html>
