<img src="../images/hopealive.jpg" alt="Hope Alive USA Logo">
<nav>
    <ul>
        <li><a href="#" onclick= "reloadIndex()">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li class="dropdown">
            <a href="#">Resources</a>
            <div class="dropdown-content">
                <a href="#">Resource 1</a>
                <a href="#">Resource 2</a>
                <a href="#">Resource 3</a>
                <a href="#">Resource 4</a>
                <a href="#">Resource 5</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Community</a>
            <div class="dropdown-content">
                <a href="#">Members and Membership</a>
                <a href="#" onclick="loadVideosPage()">Videos</a>
                <a href="#">Get Involved</a>
                <a href="#" onclick="donation()">Donate</a>
            </div>
        </li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>
