<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope Alive USA</title>
     <link rel="stylesheet" href="../scripts/styles.css"> 
     <script src="../scripts/script.js"></script>
</head>
<body>
    <header>
        <img src="../images/hopealive.jpg" alt="Hope Alive USA Logo">
        <nav>
            <ul>
                <li><a href="#" onclick= "reloadIndex()">Home</a>
                <li><a href="#" onclick= "about()">About Us</a></li>
                <li class="dropdown">
                    <a href="#">Resources</a>
                    <div class="dropdown-content">
                        <a href="#">Resource 1</a>
                        <a href="#">Resource 2</a>
                        <a href="#">Resource 3</a>
                        <a href="#">Resource 4</a>
                        <a href="#">Resource 5</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Community</a>
                    <div class="dropdown-content">
                        <a href="#" onclick="membership()">Members and Membership</a>
                        <a href="#" onclick="loadVideosPage()">Videos</a>
                        <a href="#" onclick="involved()">Get Involved</a>
                        <a href="#" onclick="donation()">Donate</a>
                    </div>
                </li>
                <li><a href="#" onclick= "contact()">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <h1>Members and Membership</h1>
    

    <div class="membership-container">
    
    <div class="membership-form">
    <h2>Membership Tiers</h2>
    <ul>
        <li><strong>Basic Membership:</strong> Access to basic content</li>
        <li><strong>Premium Membership:</strong> Access to premium content, discounts</li>
        <li><strong>VIP Membership:</strong> Access to VIP content, exclusive benefits</li>
    </ul>
    <div class="hover-content">
        <h3>Additional Information</h3>
        <p>Hover to view more details about membership tiers.</p>
    </div>
</div>

<div class="membership-form">
    <h2>Benefits</h2>
    <ul>
        <li>Access to exclusive content</li>
        <li>Discounts on merchandise</li>
        <li>Early registration for events</li>
    </ul>
    <div class="hover-content">
        <h3>Additional Information</h3>
        <p>Hover to view more details about benefits.</p>
    </div>
</div>

<div class="membership-form">
    <h2>Current Members</h2>
    <p>Profiles of current members and their activities</p>
    <div class="hover-content">
        <h3>Additional Information</h3>
        <p>Hover to view more details about current members.</p>
    </div>
</div>


<footer class="footer-members">
    <p>&copy; 2024 Hope Alive USA. All Rights Reserved.</p>
</footer>

   
</body>
</html>

